.about_img{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #fff;
	display: inline-block;
	margin-right: 17px;
}

.about_img_item{
	display: block;
}

.about_left, .about_right{
	float: left;
}

.about_left{
	width: 320px;
	text-align: center;
}

.about_right{
	width: 380px;
}

.title{
	font-family: "fira_sansmedium";	
	font-size: 35px;
	color: #414141;
	margin-bottom: 8px;
	margin-top: -3px;
}

.about_description{
	height: 335px;
	overflow: auto;
	margin-bottom: 48px;
}

.text_block p {
	font-family: "fira_sanslight";
	margin-top: 0;

}

.download{
	text-align: right;
}

.btn{
	padding: 7px 16px;
	border: 2px solid #e85f61;
	border-radius: 30px;
	text-decoration: none;
	font-size: 15px;
	font-family: "fira_sansbold";
	color: #e85f61;
	margin: 2px 2px;
}

.btn_icon, .btn_text{
	display: inline-block;
	vertical-align: middle;
}
.btn_icon{
	padding-right: 5px;
}

.btn:hover{
	background: #e85f61;
	color: #fff;
}