.career_left{
	float: left;
	width: 220px;
}

.career_right{
	float: right;
	width: 455px;
}

.content_career_title{
	font-family: "fira_sansmedium";
	font-size: 35px;
	color: #414141;
	line-height: 43px;
	margin: -3px 0;
	font-weight: normal;
}

.career_img{
	overflow: hidden;
	border-radius: 9px;
	margin-top: 25px;
}

.career_img_1{
	display: block;
	max-width: 100%;
}

.career_list{
	text-align: right;
	margin: 0;
	margin-top: 25px;
	list-style-type: none;
}

.career_item{
	padding-left: 30px;
}

.career_block{
	border-radius: 10px;
	background-color: #ffffff;
	width: 380px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding: 5px 20px;
	display: inline-block;
	text-align: left;
	position: relative;
	margin-bottom: 20px;
}

.career_block:after, .career_block:before{
	content: "";
	display: block;
	width: 1px;
	background: #dddddd;
	position: absolute;
	right: 100%;
	margin-right: 20px;
}

.career_item:first-child .career_block:before{
	display: none;
}

.career_item:last-child .career_block:after{
	display: none;
}

.career_block:before{
	top: 0;
	bottom: 50%;
}

.career_block:after{
	top: 50%;
	bottom: -25px;
}

.career_item:hover .career_block{
	background: #33c1e3;
}

.career_item:hover .career_title{
	color: #fff;
}

.career_item:hover .career_profession, .career_item:hover .career_time{
	color: #fff;
}

.career_item:hover .career_year{
	font-family: "fira_sansbold";
	color: #33c1e3;
}

.career_item:hover .career_year:after{
	border-color: #94e0f2;
}



.career_title{
	font-size: 21px;
	color: #5a5a5a;
	margin-bottom: 5px;
	font-family: "fira_sansregular";
}

.career_profession{
	font-size: 18px;
	color: #727272;
	margin-bottom: 5px;
	font-family: "fira_sanslight";
}

.career_time{
	font-size: 18px;
	color: #727272;
	margin-bottom: 5px;
	font-family: "fira_sanslight";
}

.career_year{
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -14px;
	margin-right: 35px;
	font-size: 14px;
	color: #727272;
	line-height: 28px;
	z-index: 10;
}

.career_year:after{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background: #33c1e3;
	border-radius: 50%;
	position: absolute;
	right: -25px;
	top: 50%;
	margin-top: -10px;
	border: 5px solid #f6f6f6;
}
