.menu_items{
	padding: 0;
	margin: 0;
}

.menu__link{
	display: block;
	padding: 8px 25px 8px 0;
	text-align: right;
	text-decoration: none;
	color: #414141;
	border-right: 6px solid transparent;
}

.menu__link:hover{
	color: #33c1e3;
}


.menu_icon, .menu_title{
	display: inline-block;
	vertical-align: middle;
}

.menu__item_active .menu__link{
	border-color: #33c1e3;
	font-family: "fira_sansbold";
	color: #33c1e3;
}